body {
  font-family: sans-serif;
  padding: 0;
 background-color: #242424;
 text-align: center;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin-top: 80px; 
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 80px;
}

.animation {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 50px;
  transition: all 0.3s;
  
}

.animation:hover {
  transition:  transform 0.7s cubic-bezier(0.25, 0.25, 0.75, 1);
  transform: scale(1.3);
}

.regles{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  gap: 30px;
  padding: 50px 200px 50px 200px;
  width: 76%;
}

.logo {
  width: 230px;
  height: 230px;
}

input{
  border-radius: 10px 100px /120px 100px;
  border-style: groove;
  border-color: #0e0e5c;
}

.btn{
  margin-top: 40px; 
  border-radius: 64px 96px 128px 32px;
  border-style: groove;
  border-color: #0e0e5c;
  background-color: #7d7dbf;
  color:  #000002;
  margin-bottom: 20px;
  transform: rotate(180deg);
}

.btn:hover
   {
    transition:  transform 0.7s cubic-bezier(0.25, 0.25, 0.75, 1);
  transform: rotate(0deg);
  }

  .wait{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 80px;
  }